@import "../../../styles/variables.scss";

.aboutTextContainer {
  width: 85%;
  padding: 1rem;
  color: $text-color;
  font-size: 1.25rem;
  line-height: 1.4;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
  }

  span {
    color: $about-title-purple;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 2rem;

    li {
      display: flex;
      align-items: center;
      gap: 6px;
      list-style: none;
    }

    .aboutTileHobby {
      margin-bottom: 1rem;
      padding-left: 1.55rem;
    }

    .aboutIcon {
      color: $text-color-secondary;
    }
  }
}

@media (max-width: 800px) {
  .aboutText {
    width: 380px;
  }
  ul {
    font-size: 1.6rem;
  }
}
