@import "../../styles/variables.scss";

.aboutContainer {
  width: 100%;
  padding: 1rem 3rem 3rem;
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0.2rem;
  font-size: 1rem;
  margin-bottom: 2rem;

  .aboutTitle {
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 20px;

    b {
      color: $about-title-purple;
    }
  }

  .aboutImg {
    width: 40%;
    min-width: 320px;
    padding: 1rem;
    margin-bottom: 5rem;

    img {
      width: 100%;
    }
  }
}

.aboutTechSckillsContainer {
  margin-top: 4rem;

  .skills {
    display: flex;
    justify-content: center;
    color: $about-title-purple;
    font-size: 2.2rem;
    padding-bottom: 3rem;
  }
}

.aboutGithubContainer {
  flex-direction: column;
  margin-top: 6rem;

  .githubActivity {
    display: flex;
    justify-content: center;
    color: $about-title-purple;
    font-size: 2.2rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 800px) {
  .about {
    flex-wrap: wrap;
  }

  .aboutContainer {
    padding: 0;
  }

  .aboutTextContainer {
    display: flex;
    align-items: center;
  }

  .aboutGithubContainer {
    display: none;
  }
}
