@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.HomeContainer {
  margin: auto;
  
}

.HomeHero {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 3rem;
}

.HomeProjects {
  display: flex;
  margin-top: 5rem;
}