@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.MainContainer {
  flex: 2 1 0;
  padding: 3rem;
  background-color: $bg-color;
  border-radius: $container-border-radius;
}

.MainTechnologies {
  margin-bottom: 1rem;

  h2 {
    color: $text-color;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
    @include center;
    justify-content: center;
    gap: 1rem;

    &:after {
      @include gradient-border;
    }
  }

  .MainContainerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;

    .MainCard {
      @include center;
      gap: 1rem;
      padding: 1rem;
      border: 1px solid #333;
      width: 35%;
      border-radius: $card-border-radius;

      svg {
        font-size: 4rem;
      }

      .MainCardInfo {
        display: flex;
        flex-direction: column;

        h3 {
          color: $text-color;
          margin-bottom: 1rem;
        }

        p {
          color: $text-color-secondary;
          margin-bottom: 1rem;
          line-height: 1.3rem;
        }
      }
    }
  }

  #html {
    svg {
      color: #e44d26;
    }
  }

  #css {
    svg {
      color: #1572b6;
    }
  }

  #js {
    svg {
      color: #f0db4f;
    }
  }

  #node {
    svg {
      color: #83cd29;
    }
  }

  #mysql {
    svg {
      color: #00618a;
    }
  }

  #react {
    svg {
      color: #61dafb;
    }
  }
}

.HomeContainerBtn {
  display: flex;
  justify-content: center;
}

.HomeBtn {
  @include btn;
}

@media (max-width: 800px) {
  .MainContentTitle {
    width: 300px;
  }

  .MainCardInfoTitle {
    display: none;
  }
  .MainCardInfoAge {
    display: none;
  }
}
