@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
h1 {
  margin: auto;
}

h3 {
  color: $text-color-secondary;
  text-align: center;
  max-width: 40rem;
  margin: 1.5rem auto;
  font-size: 0.875rem;
  font-style: italic;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
