@use '../../styles/mixins'
@use '../../styles/variables'

.container
    border: 1px solid red
    display: grid
    text-align: center
    justify-content: center
    margin: 0 0 20px 0

    .title
        border: 1px solid blue
        color: variables.$text-color-secondary
