@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column-reverse;
  p {
    color: $text-color-secondary;
    margin-top: 0.7rem;
  }
}

#social-networks {
  @include center;
  gap: 1.2rem;
  padding: 2rem;

  .social-btn {
    padding: 0.7rem 0.8rem;
    background-color: $bg-color-secondary;
    border-radius: 50%;
    font-size: 1.3rem;
    @include center;
  }
  #linkedin {
    color: #0072b1;
    &:hover {
      background: $bt-linkedin-gradient;

      > svg {
        color: $text-color;
      }
    }
  }

  #github {
    color: #111;
    &:hover {
      background: $bt-github-gradient;

      > svg {
        color: $text-color;
      }
    }
  }

  #instagram {
    color: #bc2a8d;
    &:hover {
      background: $bt-instagram-gradient;

      > svg {
        color: $text-color;
      }
    }
  }
}
