@import "../../../styles/variables.scss";

.aboutGithubContainer {
  display: flex;
  justify-content: center;
  background-color: rgb(17, 17, 17, 0.41);
  border-radius: $container-border-radius;
  padding: 2rem;
}
